* {
  box-sizing: border-box;
}




body{
	background-color: #85afd9;
    font-family: Gill Sans;
	
}

h1{
	font-size: 12vw;
	margin: 0;	
}

.title-wrapper{
	position: relative;
}
 
.one{
	padding: 50px;
	display: inline-block;
	border: 2px solid black;
	color: black;
	background-image: url('images/background.jpg');
	background-size: cover;
}



.two{
	padding: 50px;
	color: #DA7521;
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 20px;
	margin: 0;
}

.container{
	width:100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 70px;

}


.row{
	width: 100%;
	display: flex;
}

.col-3{
	width: 33.3%;
	padding: 0 15px;
}

.col-4{
	width: 25%;
	padding: 0 15px;
}

.col-6{
	width: 50%;
	padding: 0 15px;
}

.col-2{
	width: 16.6%;
	padding: 0 15px;
}

.col-12{
	width: 100%;
	padding: 0 15px;
}

.col-8{
	width:66.6%;
	padding: 0 15px;
}

.col-24{
	width: 200%;
	padding: 0 ;
}

.welcome{
	margin-top: 100px;
}


h2{
	font-size: 4.16vw;
	padding: 15px;
	margin: 0;
	margin-bottom: 30px;
	color: #DA7521;
}


h3{
	font-size: 2.97vw;
	padding: 15px;
	margin: 0;
	margin-bottom: 30px;
}

.three{
	display: inline-block;
	width: 100%;
	background-image: url('images/background.jpg');
	border: 2px solid black;


}

.three2{
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 7px;
	margin: 0;
	color:#F1C267;


}

.pic1{
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 15px;
	border: 2px solid black;

}

.pic2{
	display: inline-block;
	border: 2px solid black;


}

.pic3{
	display: inline-block;
	border: 2px solid black;
}

.pic4{
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 15px;
	border: 2px solid black;

}

.four{
	display: inline-block;
	width: 100%;
	background-image: url('images/background.jpg');
	border: 2px solid black;


}
.four1{
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 7px;
	margin: 0;
	color:#c24b4b;
}

h4{
	font-size: 1.19vw;
	border: 2px solid black;
	padding: 15px;
	margin: 0;
	margin-bottom: 30px;
}

.five{
	width: 100%;
	color: black;
	border: 2px solid black;
	font-size: 1.07vw;
	padding: 15px;
	margin-top: 15px;
	background-color: #c24b4b;

}

.five1{
	width: 100%;
	color: black;
	border: 2px solid black;
	font-size: 1.07vw;
	padding: 15px;
	margin-top: 15px;
	background-color: #c24b4b;
	margin-top: 45px;
}

p{
	font-size: 1vw;
	padding: 15px;
	margin: 0;
	margin-bottom: 30px;
}

.six{
	padding-top: 30px;
	


}

img{
	width: 100%;
}


.dos{
	display: inline-block;
	color: black;

}
.tres{
	border: 0px solid black;
	font-size: 1.3vw;


}

.tress{
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	margin: 0;

}

.firstpic{
	border: 2px solid black;
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 20px;
	margin: 0;

}

.firstpic1{
	border: 2px solid black;
	display: inline-block;



}




h5{
	margin-top: 0;
	font-size: 1.19vw;
}

.seven{
	
	display: inline-block;
	width: 100%;
	background-image: url('images/background.jpg');
	border: 2px solid black;
}

.seven1{
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 7px;
	margin: 0;
	color:#c0709d;

}

.eight{
	color: #c0709d;

	

}
.nine{
	width: 100%;
	color: #f1c268;
	border: 2px solid black;
	font-size: 1.07vw;
	padding: 15px;
	margin-top: 15px;
	background-color: #c0709d;
	margin-top: 45px;
}

.ten{
	display: inline-block;
	width: 100%;
	background-image: url('images/background.jpg');
	border: 2px solid black;
}

.ten1{
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 7px;
	margin: 0;
	color:#8e487f;
}

.eleven{
	color: #8e487f;
	

}

.pic5{
	display: inline-block;

}

.pic6{
	display: inline-block;
	border: 2px solid black;
}

.pic7{
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 15px;
	border: 2px solid black;
}

.pic9{
	display: inline-block;
	border: 2px solid black;
}

.pic10{
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 15px;
	border: 2px solid black;
}

.pic11{
	display: inline-block;
	border: 2px solid black;
	margin-top: 30px;
}

.pic12{
	position: absolute;
	z-index: 1;
	top: 45px;
	left: 15px;
	border: 2px solid black;
}



.twelve{
	width: 100%;
	color: #f1c268;
	border: 2px solid black;
	font-size: 1.07vw;
	padding: 15px;
	margin-top: 15px;
	background-color: #8e487f;
	margin-top: 45px;

}

.twelve1{
	position: absolute;
	margin-left: 38%;
	background-color: #85afd9;

}

.pic13{
	width: 200%;
	position: relative;
}

.thirdteen{
	display: inline-block;
	width: 100%;
	background-image: url('images/background.jpg');
	border: 2px solid black;
}

.thirdteen1{
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 7px;
	margin: 0;
	color:#c3d8ad;
}

.fourteen{
	width: 100%;
	color: black;
	border: 2px solid black;
	font-size: 1.07vw;
	padding: 15px;
	margin-top: 15px;
	background-color: #c3d8ad;
	margin-top: 45px;

}

.pic15{
	display: inline-block;
	border: 2px solid black;

}

.pic14{
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 15px;
	border: 2px solid black;
}

.pic16{
	display: inline-block;
	border: 2px solid black;
	margin-top: 45px;

}

.pic17{
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 15px;
	border: 2px solid black;
}

.pipi{
	padding-top: 60px;
}

.sixteen{
	display: inline-block;
	width: 100%;
	background-image: url('images/background.jpg');
	border: 2px solid black;
}

.sixteen1{
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 7px;
	margin: 0;
	color:#f09abe;
}

.seventeen{
	width: 100%;
	color: black;
	border: 2px solid black;
	font-size: 1.07vw;
	padding: 15px;
	margin-top: 15px;
	background-color: #f09abe;
	margin-top: 15px;
}

.lala{
	padding-top: 60px;
}

.eighteen{
	display: inline-block;
	width: 100%;
	background-image: url('images/background.jpg');
	border: 2px solid black;

}

.eighteen1{
	position: absolute;
	z-index: 1;
	top: 7px;
	left: 7px;
	margin: 0;
	color:#DA7521;
}


.pic18{
	padding-top: 15px;
}

.nineteen{
	width: 100%;
	color: black;
	border: 2px solid black;
	font-size: 1.07vw;
	padding: 15px;
	margin-top: 15px;
	background-color: #DA7521;
	margin-top: 15px;
}


.pic19{
	padding-top: 45px;
}

.nineteen1{
	width: 100%;
	color: black;
	border: 2px solid black;
	font-size: 1.07vw;
	padding: 15px;
	margin-top: 15px;
	background-color: #DA7521;
	margin-top: 45px;
}

.kaka{
	margin-top: 45px;
}

.pic20{
	width: 100%;


}


